Repository stphung/continuum: changes, and which pre-commit hooks are due for each by the changed paths.
All: godot-import-check, gd-script-format-check

godot-import-check:
  name: ðŸ“¦ Check Godot Project Import
  entry: /Applications/Godot.app/Contents/MacOS/Godot
  args:
  - --path
  - .
  - --headless
  - --quit-after
  - '1'
  - --check-only
  language: system
  pass_filenames: false
  stages:
  - commit

gd-script-format-check:
  name: ðŸŽ¨ Check GDScript formatting
  entry: bash
  args:
  - -c
  - echo 'GDScript format check passed (manual verification required)'
  language: system
  stages:
  - commit

Add detailed Android export debugging
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Align Android build with official Godot CI approach
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Fix Android build template installation
  .github/workflows/ci-cd.yml
Due: none

Add Android keystore support with dual build modes
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Fix GitHub secrets syntax error in Android build
  .github/workflows/ci-cd.yml
Due: none

Fix export preset configuration section numbering
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Add gd-plug dependency installation to Android CI workflow
  .github/workflows/ci-cd.yml
Due: none

Fix gd-plug exit code handling in Android CI workflow
  .github/workflows/ci-cd.yml
Due: none

Test Android debug build to bypass keystore configuration errors
  .github/workflows/ci-cd.yml
Due: none

Fix workflow YAML syntax error in Android Build step
  .github/workflows/ci-cd.yml
Due: none

Add debug keystore creation for Android debug builds
  .github/workflows/ci-cd.yml
Due: none

Improve debug keystore setup with fallback mechanisms
  .github/workflows/ci-cd.yml
Due: none

Fix Android export configuration errors
  .github/workflows/ci-cd.yml
  project.godot
Due: godot-import-check

Add build version info to Android gradle template
  .github/workflows/ci-cd.yml
Due: none

Disable gradle builds for Android export presets
  export_presets.cfg
Due: none

Remove custom SDK settings from non-gradle Android presets
  export_presets.cfg
Due: none

Re-enable Android release build with keystore signing
  .github/workflows/ci-cd.yml
Due: none

Revert to debug Android build due to keystore authentication failure
  .github/workflows/ci-cd.yml
Due: none

Document comprehensive CI/CD implementation achievements
  CLAUDE.md
  README.md
Due: none

Implement automatic version increment system
  .github/workflows/auto-version.yml
  CLAUDE.md
  README.md
Due: none

Consolidate automatic versioning into single CI/CD workflow [skip-version]
  .github/workflows/auto-version.yml
  .github/workflows/ci-cd.yml
  CLAUDE.md
  README.md
Due: none

Add automatic changelog generation to releases
  .github/workflows/ci-cd.yml
Due: none

Test changelog generation in next release
  README.md
Due: none

Fix release creation to use correct tag reference
  .github/workflows/ci-cd.yml
Due: none

Simplify release notes to focus on changelog
  .github/workflows/ci-cd.yml
Due: none

Fix changelog generation by fetching all tags
  .github/workflows/ci-cd.yml
Due: none

Fix Android APK signing for installable debug builds (Issue #23)
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Fix Android keystore alias conflict by removing existing keystore first
  .github/workflows/ci-cd.yml
Due: none

Optimize Android orientation: landscape → portrait for vertical shmup
  export_presets.cfg
Due: none

Fix Android portrait orientation - add missing handheld orientation setting
  project.godot
Due: godot-import-check

Fix Android portrait mode black bars with stretch aspect expand
  project.godot
Due: godot-import-check

Fix Android UI layout with proper mobile viewport and aspect handling
  project.godot
Due: godot-import-check

Update starfield background dimensions for new mobile viewport
  scenes/shared/StarfieldBackground.tscn
  scripts/shared/StarfieldBackground.gd
Due: godot-import-check, gd-script-format-check

Fix all background ColorRect dimensions for new mobile viewport
  scenes/main/Game.tscn
  scenes/main/Main.tscn
  scenes/menus/CreditsScreen.tscn
  scenes/menus/OptionsMenu.tscn
  scenes/menus/TitleScreen.tscn
Due: godot-import-check

Fix starfield star distribution to cover full viewport area
  scripts/shared/StarfieldBackground.gd
Due: godot-import-check, gd-script-format-check

Fix game scene starfield dimensions and update related tests
  scripts/main/Game.gd
  test/helpers/MockPlayer.gd
  test/unit/test_game_mechanics.gd
Due: godot-import-check, gd-script-format-check

Remove 'Professional Shmup Engine' subtitle from title screen
  scenes/menus/TitleScreen.tscn
Due: godot-import-check

Implement Raiden-inspired 3-weapon system to fix balance issues
  scenes/projectiles/PlasmaBullet.tscn
  scripts/main/Game.gd
  scripts/pickups/PowerUp.gd
  scripts/player/Player.gd
  scripts/projectiles/LaserBullet.gd
  scripts/projectiles/PlasmaBullet.gd
  test/integration/test_player_enemy_integration.gd
  test/unit/test_player_movement.gd
  test/unit/test_powerup_collection.gd
  test/unit/test_weapon_systems.gd
Due: godot-import-check, gd-script-format-check

Implement authentic Raiden-style plasma beam weapon system
  scripts/player/Player.gd
  scripts/projectiles/PlasmaBullet.gd
Due: godot-import-check, gd-script-format-check

Path conditions:
  godot-import-check: any of: \.gd$|\.tscn$|\.tres$|project\.godot$
  gd-script-format-check: any of: \.gd$
