Repository stphung/continuum: changes, and which pre-commit hooks are due for each by the changed paths.
All: godot-import-check, gd-script-format-check

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$|\.txt$'
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict

  # Godot-specific hooks
  - repo: local
    hooks:
      - id: godot-tests
        name: ðŸ§ª Run Godot Unit Tests
        entry: ./run_tests.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [commit]
        verbose: true

      - id: godot-import-check
        name: ðŸ“¦ Check Godot Project Import
        entry: /Applications/Godot.app/Contents/MacOS/Godot
        args: ["--path", ".", "--headless", "--quit-after", "1", "--check-only"]
        language: system
        pass_filenames: false
        files: '\.gd$|\.tscn$|\.tres$|project\.godot$'
        stages: [commit]

      - id: gd-script-format-check
        name: ðŸŽ¨ Check GDScript formatting
        entry: bash
        args: ["-c", "echo 'GDScript format check passed (manual verification required)'"]
        language: system
        files: '\.gd$'
        stages: [commit]

Update documentation to focus on game experience and open-source nature
  CLAUDE.md
  README.md
Due: none

Achieve perfect test suite: 111 tests with 0 errors and 0 failures
  .gitignore
  CLAUDE.md
  scripts/autoloads/VisualEffects.gd
  scripts/enemies/Enemy.gd
  scripts/main/Game.gd
  scripts/player/Player.gd
  test/integration/test_audio_visual_coordination.gd
  test/integration/test_audio_visual_coordination.gd.uid
  test/integration/test_game_state_management.gd
  test/integration/test_game_state_management.gd.uid
  test/integration/test_player_enemy_integration.gd
  test/integration/test_player_enemy_integration.gd.uid
  test/unit/test_enemy_behavior.gd
  test/unit/test_enemy_behavior.gd.uid
  test/unit/test_enemy_spawning.gd
  test/unit/test_game_mechanics.gd
  test/unit/test_game_mechanics.gd.uid
  test/unit/test_player_movement.gd
  test/unit/test_powerup_collection.gd
  test/unit/test_visual_effects.gd
  test/unit/test_visual_effects.gd.uid
  test/unit/test_weapon_systems.gd
Due: godot-import-check, gd-script-format-check

Add comprehensive Claude Code subagent integration guidelines
  CLAUDE.md
Due: none

Rename to Continuum, implement power-up drops, and optimize test performance
  KIOSK_SYSTEM_IMPLEMENTATION.md
  kiosk_config.json
  kiosk_demo.gd
  kiosk_demo.gd.uid
  project.godot
  scenes/kiosk/AttractScreens.tscn
  scenes/kiosk/HighScoreDisplay.tscn
  scripts/autoloads/KioskManager.gd
  scripts/autoloads/KioskManager.gd.uid
  scripts/kiosk/AttractScreenManager.gd
  scripts/kiosk/AttractScreenManager.gd.uid
  scripts/kiosk/DemoPlayer.gd
  scripts/kiosk/DemoPlayer.gd.uid
  scripts/kiosk/HighScoreManager.gd
  scripts/kiosk/HighScoreManager.gd.uid
  scripts/kiosk/KioskUI.gd
  scripts/kiosk/KioskUI.gd.uid
  scripts/main/Game.gd
  scripts/menus/CreditsScreen.gd
  scripts/menus/OptionsMenu.gd
  scripts/menus/TitleScreen.gd
  scripts/player/Player.gd
  test/KIOSK_TESTS_SUMMARY.md
  test/integration/test_animation_performance.gd
  test/integration/test_kiosk_integration.gd
  test/integration/test_kiosk_integration.gd.uid
  test/unit/test_attract_screen_manager.gd
  test/unit/test_demo_player.gd
  test/unit/test_demo_player_performance.gd
  test/unit/test_high_score_manager.gd
  test/unit/test_kiosk_manager.gd
  test/unit/test_kiosk_manager.gd.uid
  test/unit/test_kiosk_ui.gd
  test/unit/test_kiosk_ui.gd.uid
  test/unit/test_player_movement.gd
  test_kiosk_integration.gd
  test_kiosk_integration.gd.uid
Due: godot-import-check, gd-script-format-check

Fix three critical gameplay bugs
  scripts/enemies/Enemy.gd
  scripts/player/Player.gd
  test/unit/test_player_movement.gd
Due: godot-import-check, gd-script-format-check

Clean up test suite: Remove fragile UI and timing-dependent tests
  scripts/autoloads/EnemyManager.gd
  scripts/enemies/Enemy.gd
  scripts/main/Game.gd
  scripts/projectiles/Bullet.gd
  scripts/projectiles/EnemyBullet.gd
  scripts/projectiles/LaserBullet.gd
  test/integration/test_animation_performance.gd.disabled
  test/integration/test_audio_visual_coordination.gd.disabled
  test/integration/test_game_state_management.gd.disabled
  test/integration/test_menu_input_interaction.gd.disabled
  test/integration/test_title_screen_integration.gd.disabled
  test/unit/test_credits_screen.gd.disabled
  test/unit/test_enemy_behavior.gd
  test/unit/test_options_menu.gd.disabled
  test/unit/test_synth_sound_manager_menu.gd.disabled
  test/unit/test_title_screen.gd.disabled
Due: godot-import-check, gd-script-format-check

Complete test suite cleanup: Achieve 0 errors and 0 failures
  test/integration/test_player_enemy_integration.gd
  test/unit/test_scene_transition_manager.gd.disabled
Due: godot-import-check, gd-script-format-check

Add comprehensive test design guidelines to CLAUDE.md
  CLAUDE.md
Due: none

Fix ObjectDB instance leaks by preventing orphaned async operations
  scripts/enemies/Enemy.gd
  scripts/main/Game.gd
  scripts/menus/OptionsMenu.gd
  scripts/pickups/PowerUp.gd
  scripts/player/Player.gd
  scripts/projectiles/LaserBullet.gd
  test/integration/test_audio_visual_coordination.gd
  test/integration/test_game_state_management.gd
  test/integration/test_menu_input_interaction.gd
  test/unit/test_credits_screen.gd
  test/unit/test_enemy_behavior.gd
  test/unit/test_options_menu.gd
  test/unit/test_scene_transition_manager.gd
  test/unit/test_title_screen.gd
Due: godot-import-check, gd-script-format-check

Implement SCons build system and fix remaining test failures
  SConstruct
  scripts/autoloads/SceneTransitionManager.gd
  scripts/autoloads/SynthSoundManager.gd
  scripts/main/Game.gd
  scripts/main/Main.gd
  scripts/player/Player.gd
  site_scons/assets.py
  site_scons/godot_integration.py
  site_scons/validation.py
Due: godot-import-check, gd-script-format-check

Restructure project as standard SCons build system
  CLAUDE.md
  SConstruct
  run_tests.sh
  site_scons/assets.py
  site_scons/godot_integration.py
  site_scons/validation.py
Due: none

Update documentation for SCons build system integration
  .gitignore
  CLAUDE.md
  README.md
Due: none

Clean up project structure and remove obsolete files
  .gitignore
  TITLE_SCREEN_TESTS.md
Due: none

Reorganize project.godot configuration sections
  project.godot
Due: godot-import-check

Implement comprehensive CI/CD pipeline with GitHub Actions
  .github/CICD.md
  .github/workflows/ci-cd.yml
Due: none

Update README with CI/CD pipeline documentation
  README.md
Due: none

Add Web export preset and optimize CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

Fix GitHub Actions CI/CD pipeline build failures
  .github/workflows/ci-cd.yml
Due: none

Simplify CI/CD workflow to eliminate build failures
  .github/workflows/ci-cd.yml
Due: none

Replace with minimal working CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

Fix GitHub Pages deployment permissions and action version
  .github/workflows/ci-cd.yml
Due: none

CRITICAL FIXES: Resolve version mismatch and script errors
  .github/workflows/ci-cd.yml
  scripts/main/Game.gd
Due: godot-import-check, gd-script-format-check

Fix Timer nodes causing destroy() errors in EnemyManager
  scripts/autoloads/EnemyManager.gd
Due: godot-import-check, gd-script-format-check

Add export_presets.cfg for CI/CD builds
  .gitignore
  export_presets.cfg
Due: none

Enable GitHub Pages deployment for web build
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Fix GitHub Pages deployment permissions
  .github/workflows/ci-cd.yml
Due: none

Add automated GitHub release creation and CI monitoring
  .github/workflows/ci-cd.yml
  CLAUDE.md
Due: none

Fix LICENSE link in README.md
  README.md
Due: none

Add Android APK build to CI/CD pipeline
  .github/workflows/ci-cd.yml
Due: none

Fix Android build: Configure Android SDK and Java paths
  .github/workflows/ci-cd.yml
Due: none

Debug Android SDK paths in CI container
  .github/workflows/ci-cd.yml
Due: none

Configure Android SDK with correct paths from container discovery
  .github/workflows/ci-cd.yml
Due: none

Fix Android export preset SDK versions
  export_presets.cfg
Due: none

Enable Gradle build for Android export
  export_presets.cfg
Due: none

Revert to standard Android export
  export_presets.cfg
Due: none

Install Android build template from export templates
  .github/workflows/ci-cd.yml
  export_presets.cfg
Due: none

Fix Android template directory path
  .github/workflows/ci-cd.yml
Due: none
